<div id="mg-explorer-body">
  <div id="mg-explorer-navigation-bar">
    <ul>
      <li id="mg-translation-explorer-selector" class="active">
        <span>Translation Graph</span>
      </li>
      <li id="mg-type-explorer-selector">
        <span>Types</span>
      </li>
      <li id="mg-algorithm-explorer-selector">
        <span>Algorithms</span>
      </li>
      <li id="mg-algorithm-type-translation-explorer-selector">
        <span>Algorithm Type Solver</span>
      </li>
      <li id="mg-plugin-explorer-selector">
        <span>Plugins</span>
      </li>
      <li id="mg-explorer-close-button">
	<span>&times;</span>
      </li>
    </ul>
  </div>
  <div id="mg-translation-explorer" class="mg-explorer-tab active">
    <h1>Translation Graph</h1>
    <div id="mg-translation-graph-container">
      <table id="mg-translation-graph-table">
        <tr>
  	  <td>
  	    <div id="mg-translation-graph-svg-container">
	      <div id="mg-translation-graph-tooltip">
		<div id="mg-translation-graph-tooltip-content">
		</div>
	      </div>
  	      <svg id="mg-translation-graph-svg">
		<defs>
		  <marker id="mg-translation-graph-edge-arrowhead" markerWidth="10" markerHeight="7" refX="4" refY="2" orient="auto">
		    <polygon points="0 0, 4 2, 0 4" />
		  </marker>
		</defs>
	      </svg>
  	    </div>
  	  </td>
  	  <td id="mg-translation-graph-menu-column">
  	    <div id="mg-translation-graph-menu">
  	      <h3>Translation Graph Menu</h3>
  	      <div id="mg-translation-graph-menu-container">
  	    	<p>Abstract Type</p>
  	    	<select id="mg-translation-graph-abstract-type-dropdown"></select>
		<p id="mg-translation-graph-filter-by-plugin-toggle-button" class="collapser-button active">Filter By Plugin</p>
		<div id="mg-translation-graph-filter-by-plugin-menu" class="active">
  		  <select id="mg-translation-graph-filter-by-plugin-dropdown"></select>
		</div>
		<p id="mg-translation-graph-translation-path-solver-toggle-button" class="collapser-button">Translation Solver</p>
		<div id="mg-translation-graph-translation-path-solver-menu">
  		  <p>Start Concrete Type</p>
  		  <select id="mg-translation-graph-start-concrete-type-dropdown"></select>
  		  <p>End Concrete Type</p>
  		  <select id="mg-translation-graph-end-concrete-type-dropdown"></select>
		</div>
  	      </div>
  	    </div>
  	  </td>
        <tr style="height: 10px;">
        </tr>
        <tr>
  	  <td id="mg-translation-graph-path-solver-row" colspan="2">
	    <div id="mg-translation-graph-path-solver">
  	      <h3>Translation Path Solver Result</h3>
  	      <div id="mg-translation-graph-path-display-text"></div>
	    </div>
  	  </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="mg-type-explorer" class="mg-explorer-tab">
    <h1>Type Explorer</h1>
    <p>My first paragraph.</p>
    <p>My first paragraph.</p>
  </div>
  <div id="mg-algorithm-explorer" class="mg-explorer-tab">
    <h1>Algorithm Explorer</h1>
    <p>My first paragraph.</p>
    <p>My first paragraph.</p>
  </div>
  <div id="mg-algorithm-type-translation-explorer" class="mg-explorer-tab">
    <h1>Algorithhm Type Solver</h1>
    <p>My first paragraph.</p>
    <p>My first paragraph.</p>
  </div>
  <div id="mg-plugin-explorer" class="mg-explorer-tab">
    <h1>Plugin Explorer</h1>
    <p>My first paragraph.</p>
    <p>My first paragraph.</p>
    <div id="poc-content">
      <!--button class="close button">Close</button-->
      <div>
	<input type="radio" id="viewTypeTypes1"
               name="viewType" value="types">
	<label for="viewTypeTypes1">Types</label>
	
	<input type="radio" id="viewTypeTranslators2"
               name="viewType" value="translators">
	<label for="viewTypeTranslators2">Translators</label>
	
	<input type="radio" id="viewTypeAlgorithms3"
               name="viewType" value="algorithms">
	<label for="viewTypeAlgorithms3">Algorithms</label>
      </div>
      <div>
	<label for="pluginsDropDown">Filter by Plugin</label>
	<select name="plugins" id="pluginsDropDown">
	  <option name="">---</option>
	</select>
      </div>
      <div style="visibility: hidden">
	<label for="abstractDropDown">Source Type</label>
	<select name="abstractTypes" id="abstractDropDown"></select>
      </div>
      <div id="display"></div>
    </div>
  </div>
</div>
