<div>
  <button class="close button">Close</button>
  <div>
    <input type="radio" id="viewTypeTypes1"
           name="viewType" value="types">
    <label for="viewTypeTypes1">Types</label>
    
    <input type="radio" id="viewTypeTranslators2"
           name="viewType" value="translators">
    <label for="viewTypeTranslators2">Translators</label>
    
    <input type="radio" id="viewTypeAlgorithms3"
           name="viewType" value="algorithms">
    <label for="viewTypeAlgorithms3">Algorithms</label>
  </div>
  <div>
    <label for="pluginsDropDown">Filter by Plugin</label>
    <select name="plugins" id="pluginsDropDown">
      <option name="">---</option>
    </select>
  </div>
  <div style="visibility: hidden">
    <label for="abstractDropDown">Source Type</label>
    <select name="abstractTypes" id="abstractDropDown"></select>
  </div>
  <div id="display"></div>
</div>
